* {
    padding: 0px;
    margin: 0px;
}
html {
    margin: 0px;
}

.container-fluid {
    padding: 0px;
    height: auto;
}
.navbar {
    background: black;
    height: 80px;
    padding: 0px;  
}
#menu-icon {
    color: white;
}

.logo {
    color: white;
    padding: 0 0 0 100px;
    font-size: 35px;
}

.navbar-nav { 
    margin-left: auto;
    padding-right: 100px;
}
.nav-item {
    padding-right: 20px;
}
.items {
    color: white;
}

.menu-icon {
    margin-left: auto;
}

.introduction {
    padding-top: 100px;
    margin: 0px;
    height: auto;
}
.info {
    padding-left: 150px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    font-size: 50px;
}
.description, .email, .number, .github, .resume {
    font-size: 15px;
}
.resume {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    color: white;
    background: black;
    border: none;
}
.pic {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile {
    height: 320px;
    width: 320px;
    border: 1px solid black;
    border-radius: 50%;
}
.education, .skills {
    padding: 100px 150px 0px 150px;
}
.skills {
    padding-top: 70px;
}
.edu-table {
    padding-top: 30px;
}
.education p {
    line-height: 20px;
}
.skill-item {
    padding-top: 30px;
}
.others {
    text-align: center;
    padding: 30px 0 0px 0;
}
.skill-others {
    padding-bottom: 20px;
}
.pills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pill {
    background: #dddddd;
    border: none;
    color: black;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 100px;
    margin: 10px;
    border-radius: 15px;
}

@media (min-width: 1200px) {
    .navbar {
        background: linear-gradient(to right, black 50%, white 0%);
    } 
    
    .logo {
        color: white;
        padding-left: 50px;
    }
    .navbar-nav { 
        margin-left: auto;
        padding-right: 50px;
    }
    
    .items {
        color: black;
        padding: 18px;
    }
    
    .items:hover , .items:active{
        color: white;
        background: black;
        margin: 0px;
        
    }
}
@media (min-width:960px) and (max-width:1200px) {
    .info {
        padding-left: 70px;
    }
    .name {
        font-size: 40px;
    }
    .description, .email, .number, .github, .resume {
        font-size: 13px;
    }
    .items:hover , .items:active{
        color: black;
        background: white;
        margin: 0px;
        
    }
    .education, .skills {
        padding: 100px 70px 0px 70px;
    }
}
@media (min-width:768px) and (max-width: 960px) {
    .items:hover , .items:active{
        color: black;
        background: white;
        margin: 0px;
        
    }
    .logo {
        color: white;
        padding-left: 40px;
        font-size: 30px;
    }
    .navbar-nav { 
        margin-left: auto;
        padding: 0px 20px;  
    }
    .introduction {
        padding-top: 100px;
    }
    .info {
        padding-left: 50px;
    }
    .name {
        font-size: 40px;
    }
    .description, .email, .number, .github, .resume {
        font-size: 13px;
    }
    .profile {
        height: 250px;
        width: 250px;
    }
    .education, .skills {
        padding: 100px 50px 0px 50px;
    }
}
@media (min-width:300px) and (max-width: 768px) {
    .navbar-collapse {
        background: black;
    }
    .items:hover , .items:active{
        color: black;
        background: white;
        margin: 0px;
        
    }
    .introduction {
        padding-top: 0px;
        padding-left: 0px;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 0px;
        height: 700px;
    }
    .logo {
        color: white;
        padding-left: 20px;
        font-size: 30px;
    }
    .description {
        padding: 0px 50px;
    }
    .pic {
        height: 250px;
    }
    .education, .skills {
        padding: 100px 10px 0px 10px;
    }
}
